@charset "utf-8";

/* reset------ */
.header{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: Arial, Helvetica, "Noto Sans TC", sans-serif;
}
img{
    vertical-align: bottom;
}

/* helper */
.h-container-m{
    max-width: 1200px;
}

.h-mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.h-img-resp{
    max-width: 100%;
    height: auto;
}

.h-row{
    padding-left: 1rem;
    padding-right: 1rem;
}

.h-gradient-stript{
    background-image: linear-gradient(
        -45deg, 
        var(--alpha-40) 0%, 
        var(--alpha-40) 25%, 
        transparent 26%, 
        transparent 50%,
        var(--alpha-40) 51%, 
        var(--alpha-40) 75%, 
        transparent 76%, 
        transparent 100%
        );
    background-size: 7px 7px;
}

/* var */
:root{
    --primary-color: #24b4d7;
    --alpha-40: rgba(255, 255, 255, .4);
}

/* ani */
.ani-fade{
    opacity: 0;
    animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.ani-delay-5s{
    animation-delay: 5s;
}

.ani-delay-10s{
    animation-delay: 10s;
}

.ani-delay-15s{
    animation-delay: 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

.ani-text-color{
    animation-name: text-color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes text-color {
    0% {
        color: white;
    }
    5% {
        color: var(--primary-color);
    }
    50% {
        color: var(--primary-color);
    }
    55% {
        color: white;
    }
    100% {
        color: white;
    }
}

/* header----- */
.header-head,.header-body,.header-foot{
    padding: .6rem .8rem;
}
.header-foot{
    display: none;
}

.header-fixed{
    position: fixed;
    z-index: 10;
    width: 100%;
}

/* nav */
.nav-btnWrap{
    display: none;
}

.nav-ul{
    display: flex;
}

.nav-li{
    margin-left: 1rem;
}

.nav-link{
    color: var(--primary-color);
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: underline;
}

/* banner */
.banner{
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-head{
    z-index: 2;
    position: relative;
    /* background-color: rgba(255, 255, 255, .5); */
    padding: 5rem;
    text-align: center;
    color: var(--primary-color);
}

.banner-body{
    position: absolute;
    width: 100%;
    top: 0;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 30px;
}

.banner-subtitle{
    font-size: 2rem;
    font-weight: 500;
}

.banner-desc{
    font-size: 2rem;
}

.banner-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* section */
.section{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.section-desc{
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    line-height: 1.7;
}

.section-btn{
    font-size: 2rem;
    padding: .6em 1em .7em;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
}

.section-btn:hover{
    opacity: .8;
}

.section-btn-primary{
    background-color: var(--primary-color);
    color: white;
}

.section-btn-light{
    color: var(--primary-color);
    background-color: white;
}

.section-foot {
    text-align: center;
}

/* section-info */
.section-info .section-container{
    display: flex;
    flex-wrap: wrap;
}

.section-info .section-head{
    width: 60%;
}

.section-info .section-body{
    width: 40%;
}

.section-info .section-foot{
    width: 100%;
}

.section-info .section-title{
    color: var(--primary-color);
}

.section-img-student{
    clip-path: polygon(25% 0, 100% 0, 75% 70%, 0 70%);
    transform: scale(1.1);
    transform-origin: top left;
    z-index: 2;
    position: relative;
}

.section-img-discuss{
    clip-path: polygon(50% 0, 100% 0, 65% 90%, 15% 90%);
    transform: scale(2);
    transform-origin: top right;
}

/* section-subject */
.section-subject{
    background-color: var(--primary-color);
}

.section-subject .section-head{
    text-align: center;
}

.section-subject .section-title{
    color: var(--primary-color);
    background-color: white;
    display: inline-block;
    padding: 1.4rem 2rem;
}

.section-subject .section-body{
    margin-top: 4rem;
    margin-bottom: 4rem;
}