@charset "utf-8";

/* reset------ */
.header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
body{
    font-family: Arial, Helvetica, "Noto Sans TC", sans-serif;
}
img{
    vertical-align: bottom;
}

/* header----- */
.header-foot{
    display: none;
}

.nav-btnWrap{
    display: none;
}

.nav-ul{
    display: flex;
}

.nav-li{
    
}